<!DOCTYPE html>
<html>
  <head>
    <title>Url Shortener</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        background-color: #ddd;
        color: #333;
        font-family: sans-serif;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <header>
      <h1>
        Url Shortener
      </h1>
    </header>
    <main>
      <pre>
        The generator works when a client perform a request towards <i>/api/shorturl/new</i>        
      </pre>
      <div>
        <input id="url-to-short" type="text" />
        <button id="post-url">Click me to post url!</button>
      </div>
      <div>
        <input id="redirect-to-short" type="text" />
        <button id="redirect-url">Click me to redirect to short url!</button>
      </div>
    </main>

    <script>
      const postUrl = function(url) {
        const data = { url: url };

        return fetch("/api/shorturl/new", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(data)
        });
      };

      const getRedirectUrl = async function(url) {
        const redirectResult = await fetch(`/api/shorturl/${url}`);
        return redirectResult;
      };

      const btn = document.getElementById("post-url");
      const redirect_btn = document.getElementById("redirect-url");

      btn.onclick = evt => {
        var urlInput = document.getElementById("url-to-short");
        postUrl(urlInput.value);
      };

      redirect_btn.onclick = evt => {
        var redirect = document.getElementById("redirect-to-short");
        const redirectUrl = getRedirectUrl(redirect.value);      
      };

    </script>
  </body>
</html>
